@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление пароля</h2>
<style>
    input[type=text] {
        width: 300px;
    }

    input[type=password] {
        width: 300px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Введите имя пользователя</legend>
        <div class="form-group">
            @Html.Label("Имя пользователя:", new { @for = "UserName", @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("UserName", null, new { @class = "form-control" })
                <span style="color:red;">@TempData["Message"]</span>
            </div>
        </div>
        <br />
        <div class="form-group" style="padding-top: 10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Восстановить" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

