@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>@ViewBag.Title</h2>
<style>
    input[type=text] {
        width: 300px;
    }

    input[type=password] {
        width: 300px;
    }
</style>
<h4>

    @ViewBag.Message
</h4>