<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
 <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
  

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="~/vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-animate.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="~/vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/blue.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/theme-responsive.css" />

    <!-- Head Libs -->
    <script src="~/vendor/modernizr.js"></script>

   
        <link rel="stylesheet" href="~/css/ie.css">
  
        <script src="~/vendor/respond.js"></script>
   

</head>
    <body>

        <div class="body" >
      

            <div role="main" class="main">
                <div id="content" class="content full">
                    
                    <div class="slider-container" >
                        <div class="slider" id="revolutionSlider">
                            <ul>
                                <li data-transition="fade" data-slotamount="13" data-masterspeed="300">

                                    <img src="~/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                                    <div class="tp-caption sft stb visible-lg"
                                         data-x="330"
                                         data-y="180"
                                         data-speed="300"
                                         data-start="1000"
                                         data-easing="easeOutExpo"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                                    <div class="tp-caption top-label lfl stl"
                                         data-x="400"
                                         data-y="170"
                                         data-speed="300"
                                         data-start="500"
                                         data-easing="easeOutExpo">Быстро и понятно!</div>

                                    <div class="tp-caption sft stb visible-lg"
                                         data-x="640"
                                         data-y="180"
                                         data-speed="300"
                                         data-start="1000"
                                         data-easing="easeOutExpo"><img src="~/img/slides/slide-title-border.png" alt=""></div>
                               
                                
                                    <div class="tp-caption main-label sft stb"
                                         data-x="179"
                                         data-y="240"
                                         data-speed="300"
                                         data-start="1500"
                                         data-easing="easeOutExpo">Homeschooled system</div>

                                    <div class="tp-caption bottom-label sft stb"
                                         data-x="330"
                                         data-y="380"
                                         data-speed="500"
                                         data-start="2000"
                                         data-easing="easeOutExpo">Обучайся у лучших преподавателей</div>
                                </li>
                                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000">

                                    <img src="~/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                                    <div class="tp-caption fade"
                                         data-x="50"
                                         data-y="150"
                                         data-speed="1500"
                                         data-start="500"
                                         data-easing="easeOutExpo"><img src="~/img/slides/slide-concept.png" alt=""></div>

                                    <div class="tp-caption blackboard-text fade "
                                         data-x="180"
                                         data-y="230"
                                         data-speed="1500"
                                         data-start="1000"
                                         data-easing="easeOutExpo" style="font-size: 30px;">Просто</div>

                                    <div class="tp-caption blackboard-text fade "
                                         data-x="120"
                                         data-y="270"
                                         data-speed="1500"
                                         data-start="1200"
                                         data-easing="easeOutExpo" style="font-size: 40px;">и понятно!</div>

                                    <div class="tp-caption main-label sft stb"
                                         data-x="530"
                                         data-y="250"
                                         data-speed="300"
                                         data-start="1500"
                                         data-easing="easeOutExpo">Время учиться</div>

                                    <div class="tp-caption bottom-label sft stb"
                                         data-x="560"
                                         data-y="380"
                                         data-speed="500"
                                         data-start="2000"
                                         data-easing="easeOutExpo">Изучайте новое легко и быстро.</div>



                                </li>
                            </ul>
                        </div>
                    </div>
       
                    <div class="home-intro" >
                        <div class="container">

                            <div class="row">
                                <div class="col-md-8">
                                    <p>
                                        Самый быстрый способ для своего саморазвития <em>- Homeschooled system</em>
                                    
                                    </p>
                                </div>
                       
                            </div>

                        </div>
                    </div>

                    <div class="container">

                 

                    </div>

         
                </div>
            </div>

       
        </div>

        <!-- Libs -->
        <script src="~/vendor/jquery.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/vendor/jquery.easing.js"></script>
        <script src="~/vendor/jquery.appear.js"></script>
        <script src="~/vendor/jquery.cookie.js"></script>

        <script src="~/vendor/bootstrap.js"></script>
        <script src="~/vendor/twitterjs/twitter.js"></script>
        <script src="~/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
        <script src="~/vendor/owl-carousel/owl.carousel.js"></script>
        <script src="~/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
        <script src="~/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="~/vendor/jquery.validate.js"></script>

        <!-- Current Page Scripts -->
        <script src="~/js/views/view.home.js"></script>

        <!-- Theme Initializer -->
        <script src="~/js/theme.js"></script>

        <!-- Custom JS -->
        <script src="~/js/custom.js"></script>


   
    </body>
<footer id="footer" class="bottom" style="position:absolute;width: 100%;left: 0;">
  
                <div class="col-md-11">
                    <p align="center">© Copyright @DateTime.Today.Year. Все права защищены.</p>
                </div>

</footer>
</html>
